[Unit]
Description=EnOcean MQTT Forwarder
After=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/bin/enoceanmqtt
Restart=restart-always
WorkingDirectory=/home/pi/eno
User=pi

[Install]
WantedBy=multi-user.target
