## the general section defines parameter for the mqtt broker and the enocean interface
[CONFIG]
enocean_port    = /dev/enocean
log_packets     = 1

mqtt_host       = localhost
mqtt_port       = 1883
mqtt_client_id  = enocean
mqtt_keepalive  = 0

## the prefix is used for the mqtt value names; this is extended by the sensor name
mqtt_prefix     = enocean/

## publish received packets as single MQTT message with a JSON payload
# mqtt_publish_json = true

## optionally also set mqtt_user and mqtt_pwd
# mqtt_user       = mqtt
# mqtt_pwd        = password

## enable SSL on MQTT connection
## Ensure that mqtt_host contains the FQDN for correct certificate verification
## mqtt_ssl_ca_certs: CA certificates to be treated as trusted
## mqtt_ssl_certfile, mqtt_ssl_keyfile: Client certificate and private key.
##     Only required if the server requires the client to authenticate.
# mqtt_ssl        = true
# mqtt_ssl_ca_certs = /path/CA_files_merged.pem
# mqtt_ssl_certfile = /path/client_cert.pem
# mqtt_ssl_keyfile = /path/client_key.pem

## all other sections define the sensors to monitor

[switch]
address         = 0xfefee192
rorg            = 0xf6   # BS1
func            = 0x02
type            = 0x02
log_learn       = 1
publish_rssi    = 1

[temperature]
address         = 0x01823FFA
rorg            = 0xA5
func            = 0x02
type            = 0x05
persistent      = 1

[hvac_actuator]
address = 0xFFDC9500
rorg            = 0xA5   # BS4
func            = 0x20
type            = 0x01
direction       = 1
answer          = 1
default_data    = 0x32790008

[non_interesting]
address         = 0xFFD05085
ignore          = 1
