[Unit]
Description=EnOcean MQTT Forwarder
After=mosquitto

[Service]
Type=simple
ExecStart=/usr/local/bin/enoceanmqtt
Restart=always
WorkingDirectory=/home/pi/enoceanmqtt
User=pi

[Install]
WantedBy=multi-user.target
